@keyframes kenburns-top {
  0% {
    background-position: top left;
    background-size: 150%;
  }
  25% {
    background-position: bottom right;
    background-size: 100%;
  }
  50% {
    background-position: bottom left;
    background-size: 200%;
  }
  75% {
    background-position: top right;
    background-size: 100%;
  }
  100% {
    background-position: top left;
    background-size: 150%;
  }
}


body,
html {
  padding: 0;
  height: 100%;
}

body {
  -webkit-animation: kenburns-top 55s infinite ease-in-out both;
	        animation: kenburns-top 55s infinite ease-in-out both;
  background-image: url(/public/images/image-013.jpg);
  background-repeat: no-repeat;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  box-sizing: border-box;
  height: 240px;
}

.flip-container {
  perspective: 1000px;
  transition: 1s;
}

.flipper .front {
  background-color: white;
}

/* ativos */
.flip-container.active.player-color1 .front,
.flip-container.active.player-color1 .back {
  border-color: red;
}
.flip-container.active.player-color2 .front,
.flip-container.active.player-color2 .back {
  border-color: blue;
}
.flip-container.active.player-color3 .front,
.flip-container.active.player-color3 .back {
  border-color: green;
}

/* acertos */
/* .acerto {
  position: fixed;
  bottom: 10px;
  left: 10px;
  transition: 5s all;
} */
.flip-container.acerto.player-color1 .front,
.flip-container.acerto.player-color1 .back {
  border-color: red;
}
.flip-container.acerto.player-color2 .front,
.flip-container.acerto.player-color2 .back {
  border-color: blue;
}
.flip-container.acerto.player-color3 .front,
.flip-container.acerto.player-color3 .back {
  border-color: green;
}

.active .back,
.active .front,
.acerto .front {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
  box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
}

.flip-container.active .flipper,
.flip-container.acerto .flipper {
  transform: rotateY(180deg);
}

.cards.loading .flip-container:not(.active) {
  opacity: 0.15;
}

.cards.loading .flip-container:not(.active) .front,
.cards.loading .flip-container:not(.active) .back {
  cursor: initial;
}

.flip-container,
.front,
.back {
  width: 220px;
  height: 220px;
  cursor: pointer;
  background-size: contain;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  border: 2px solid lightgray;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.btn {
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 40px;
}





@media screen and (max-width: 1000px) {
  .container {
    max-width: initial;
    padding: 10px 20px;
  }

  .card {
    width: 33%;
  }

  .flip-container,
  .front,
  .back {
    width: 190px;
    height: 190px;
  }
}


@media screen and (max-width: 640px) {
  .card {
    width: 50%;
  }
}



@keyframes color-change-5x {
  0% {
    background: #83B036;
  }
  25% {
    background: #6A992E;
  }
  50% {
    background: #83B037;
  }
  75% {
    background: #5D8D29;
  }
  100% {
    background: #1A5D13;
  }
}

























/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


.game {
  background-color: rgba(2255, 2255, 2255, 0.7);
  min-height: 100vh;
  transition: 4s all;
}



.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

button {
  padding: 20px;
  cursor: pointer;
  border: 6px solid white;
}

.game-options button {
  font-size: 44px;
}

.game-options button.active {
  border: 5px solid aqua;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


button.start {
  padding: 20px 60px;
  border: none;
  background-color: aqua;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}

button.start:hover {
  background-color: #A56DE2;
  color: white;
}