body,
html {
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  box-sizing: border-box;
  height: 240px;
}

.flip-container {
  perspective: 1000px;
  transition: 1s;
}

/* ativos */
.flip-container.active.player-color1 .front,
.flip-container.active.player-color1 .back {
  border-color: red;
}
.flip-container.active.player-color2 .front,
.flip-container.active.player-color2 .back {
  border-color: blue;
}
.flip-container.active.player-color3 .front,
.flip-container.active.player-color3 .back {
  border-color: green;
}

/* acertos */
.flip-container.acerto.player-color1 .front,
.flip-container.acerto.player-color1 .back {
  border-color: red;
}
.flip-container.acerto.player-color2 .front,
.flip-container.acerto.player-color2 .back {
  border-color: blue;
}
.flip-container.acerto.player-color3 .front,
.flip-container.acerto.player-color3 .back {
  border-color: green;
}

.active .back,

.active .front,
.acerto .front {
  -webkit-box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
  box-shadow: 0px 0px 9px 0px rgba(102, 102, 102, 1);
}

.flip-container.active .flipper,
.flip-container.acerto .flipper {
  transform: rotateY(180deg);
}

.cards.loading .flip-container:not(.active) {
  opacity: 0.15;
}

.cards.loading .flip-container:not(.active) .front,
.cards.loading .flip-container:not(.active) .back {
  cursor: initial;
}

.flip-container,
.front,
.back {
  width: 150px;
  height: 220px;
  cursor: pointer;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  border: 2px solid lightgray;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.btn {
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 40px;
}





@media screen and (max-width: 1000px) {
  .container {
    max-width: initial;
    padding: 10px 20px;
  }

  .card {
    width: 33%;
  }

  .flip-container,
  .front,
  .back {
    width: 120px;
    height: 190px;
  }
}


@media screen and (max-width: 640px) {
  .card {
    width: 50%;
  }
}





.overlay {
  background: floralwhite;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-options button {
  padding: 20px;
}

.game-options button.active {
  border: 5px solid black;
}